people-counting-opencv/output/output_01.avi
yolo-object-detection/yolo-coco/yolov4.weights
yolo-object-detection/yolo-coco/yolov3.weights
people-counting-opencv/output/output_02.avi
yolo-object-detection/output/airport_output.avi
